/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif; /* Replace with your preferred font */
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

.App {
  padding-right: 490px;
 padding-top: 200px;
  width: 2000px;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #222;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.image-container {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.image-container img {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin: 0 auto;
}

.image-container button {
  
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
}

.image-container button:hover {
  background: rgb(169, 165, 203);
}
